.navbar{
    margin: 0;
    margin-right: 0;
    /* background-color: black; */
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar--nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar--nav_links{
    font-weight: 300;
    text-decoration: none;
    margin-left: 2rem;
    color: #00ADD2;
}
.navbar--nav_links:hover{
    text-decoration: underline;
}
.navbar--logo a{
    font-weight: 700;
    font-size: 2rem;
    text-decoration: none;
    letter-spacing: -3px;
    color: #00ADD2;
}
.navbar--nav a:hover{
    /* background-color: #00ADD2; */
    color: #f2f2f2;
}
.atas{
    justify-content: center;
    display: flex;
    color: #00ADD2;
}
body{
    margin: 0;
    /* font-family: sans-serif; */
    /* background: #f2f2f2; */
    font-family: "Unbounded", cursive;
}
h3{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}
a{
    text-decoration: none;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.content{
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: 2s;
    background: #fff;
}
.content:hover{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);
    transition: 0.5s;
}
.content p{
    color: black;
}
img{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: auto;
    display: block;
}
p{
    text-align: center;
    color: #b2bec3;
    padding-top: 0 8px;
}
h6{
    font-size: 26px;
    text-align: center;
    color: #222f3e;
    margin: 0;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    padding: 0;
}
li{
    padding-top: 5px;
}
.fa{
    font-size: 26px;
    transition: .2s;
    margin: 5px;
}
.checked{
    color: #ff9f43;
}
.fa:hover{
    transform: scale(1.3);
    transition: .4s;
}
button{
    text-align: center;
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding: 15px;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px; 
}
.buy-1{
    background: black;
}
@media(max-width: 1000px){
    .content{
        width: 45%;
    }
}
@media(max-width: 750px){
    .content{
        width: 100%;
    }
}
.copyright {
    height: 5vh;
    background-color: grey;
    color: #f2f2f2;
    font-weight: 300;
    font-family: "Open sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bgvideo{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }