:root {
  --color-primary: #6dd5ed;
  --color-primary-dark: #2193b0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-boxx;
}

body {
  font-family: "Unbounded", cursive;
  font-weight: 400;
  line-height: 1.7;
  color: #00ADD2;
}
.wrapper {
  width: 80vw;
  margin: 0 10vw;
}

.btn {
  text-decoration: none;
  padding: 1rem 1.5rem;
  width: max-content;
}
.btn-primary {
  color: #f2f2f2;
  border: 1px solid #f2f2f2;
  transition: all 0.3s;
}
.btn-primary:hover {
  color: #00ADD2;
  background-color: #f2f2f2;
}

.text-highlight {
  color: #C53F3F;
}

.text-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.text-subtitle {
  margin-bottom: 1rem;
}

.text-price {
  padding: 0.5rem 0.8rem;
  background-color: rgba(109, 213, 237, 0.2);
  border: 1px solid var(--color-green);
  border-radius: 0.5rem;
  color: var(--color-green);
  font-weight: 700;
}

.navbar {
  height: 8vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar--nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navbar--nav_links {
  font-weight: 300;
  text-decoration: none;
  margin-left: 2rem;
  color: #00ADD2;
}
.navbar--nav_links:hover {
  text-decoration: underline;
}
.navbar--logo a {
  font-weight: 700;
  font-size: 2rem;
  text-decoration: none;
  letter-spacing: -3px;
  color: #00ADD2;
}
.header {
  height: 85vh;
  background-image: linear-gradient(to right bottom, rgba(109, 213, 237, 0.8), rgba(33, 147, 176, 0.3)), url("/assets/background/benjamin-voros-phIFdC6lA4E-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 25vw;
  margin-bottom: 2rem;
}
.header--title {
  color: #f2f2f2;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 2rem;
  text-shadow: 3px 3px black;
}
.header--subtitle {
  color: #f2f2f2;
  font-weight: 300;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

.gallery {
  height: max-content;
  margin-bottom: 3rem;
}
.gallery--title {
  margin: 2rem 0;
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(45deg, #2193b0, #6dd5ed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s;
}
.gallery--title:hover {
  transform: skew(-15deg);
}
.gallery--grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}
.gallery--grid_col {
  height: min-content;
  border-radius: 0.5rem;
  border: 1px #999 solid;
  cursor: pointer;
}
.gallery--grid_col-img {
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
}
.gallery--grid_col-text {
  padding: 1rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.gallery--grid_col:hover {
  border: 2px solid #2193b0;
}

.newsletter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  background-image: linear-gradient(to right bottom, rgba(109, 213, 237, 0.8), rgba(33, 147, 176, 0.8)), url("/assets/background/bckg.jpg");
  background-color: #F2D5DB;
  border-radius: 0.5rem;
  margin-bottom: 3rem;
}
.newsletter--detail {
  padding: 4rem;
  color: #f2f2f2;
}
.newsletter--detail_title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 1rem;
}
.newsletter--detail_subtitle {
  font-family: "Open sans", sans-serif;
}
.newsletter--form {
  padding: 4rem;
  display: flex;
  flex-direction: column;
}
.newsletter--form input {
  border: 1px solid #999;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
}
.newsletter--form textarea {
  border: 1px solid #999;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
}
.newsletter--form textarea::placeholder {
  font-family: "Open sans", sans-serif;
}

.footer {
  height: 50vh;
  border-radius: 0.5rem;
  background-image: linear-gradient(to right bottom, rgba(109, 213, 237, 0.8), rgba(33, 147, 176, 0.8));
  color: #f2f2f2;
}
.footer--grid {
  height: inherit;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}
.footer--grid__item {
  display: flex;
  flex-direction: column;
}
.footer--links {
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: #f2f2f2;
}
.footer--links:hover {
  text-decoration: underline;
}
.footer--subtitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.footer--logo {
  font-weight: 700;
  font-size: 3rem;
  text-decoration: none;
  letter-spacing: -3px;
  color: #f2f2f2;
}

.copyright {
  height: 5vh;
  background-color: #2193b0;
  color: #f2f2f2;
  font-weight: 300;
  font-family: "Open sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.merah{
  color: #F05224;
  text-shadow: 3px 3px black;
}
.darkblue{
  color: #183ECD;
  text-shadow: 3px 3px black;
}
.green{
  color: #FDD405;
  text-shadow: 3px 3px black;
}
.brown{
  color: #DC9E68;
  text-shadow: 3px 3px black;
}
body{
  margin: 0;
  /* font-family: sans-serif; */
  /* background: #f2f2f2; */
  font-family: "Unbounded", cursive;
}
h3{
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding-top: 10px;
}
a{
  text-decoration: none;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.content{
  width: 20%;
  margin: 15px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  padding-top: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: 2s;
  background: #fff;
}
.content:hover{
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translate(0px, -8px);
  transition: 0.5s;
}
.content p{
  color: black;
}
img{
  width: 200px;
  height: 200px;
  text-align: center;
  margin: auto;
  display: block;
}
p{
  text-align: center;
  color: #b2bec3;
  padding-top: 0 8px;
}
h6{
  font-size: 26px;
  text-align: center;
  color: #222f3e;
  margin: 0;
}
ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  padding: 0;
}
li{
  padding-top: 5px;
}
.fa{
  font-size: 26px;
  transition: .2s;
  margin: 5px;
}
.checked{
  color: #ff9f43;
}
.fa:hover{
  transform: scale(1.3);
  transition: .4s;
}
button{
  text-align: center;
  font-size: 24px;
  color: #fff;
  width: 100%;
  padding: 15px;
  outline: none;
  cursor: pointer;
  margin-top: 5px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px; 
}
.buy-1{
  background: black;
}
@media(max-width: 1000px){
  .content{
      width: 45%;
  }
}
@media(max-width: 750px){
  .content{
      width: 100%;
  }
}